/* This will change the background color */
body {
    background-color: antiquewhite;
    
}

/* this is for hyperlink color */
a{
    color: cornflowerblue;

}

/* this will change the color of header 1 */
h1 {
    color: chocolate;
}

/* this will change the color of header 2 */
h2 {
    color: darkgreen;
    width: 1000px;
    border-color: brown;
    border-width: 10px;
    border-style: dotted;
    padding: 50px;
    margin: 20px;
}

/* this will change the color of header 3 */
h3 {
    color: tomato;
}